<th width="18%">
    <div   div class="d-flex justify-content-between align-items-center mb-2"> 
        <span class="d-block text-custom-truncate ml-1">
           <%= @text %>
        </span> 
    </div>
</th>