<footer class=" text-center text-dark rounded-3 " style="background-color: #e2e1e1;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Form -->
        <section class="">
            <form action="">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example29" class="form-control" placeholder="Type in your email" />
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <a href="#"><button type="submit" class="btn btn-outline-secondary mb-4 text-dark">
            Subscribe
          </button></a>
                    </div>
                    <!--Grid column-->
                </div>

                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center  text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright: SKK ,
        <a class="text-dark" href="#">Alen Vodopija</a>
    </div>
    <!-- Copyright -->
</footer>